.webgl{
  /* position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  outline: none;
  z-index: 1; */
  /* border: 3px solid red; */

}

/**/

:root {

  
  --orange-a1: #ec360007;
  --orange-a2: #fe6d000e;
  --orange-a3: #fb6a0025;
  --orange-a4: #ff590039;
  --orange-a5: #ff61004a;
  --orange-a6: #fd75045c;
  --orange-a7: #ff832c75;
  --orange-a8: #fe84389d;
  --orange-a9: #fe6d15f7;
  --orange-a10: #ff801f;
  --orange-a11: #ffa057;
  --orange-a12: #ffe0c2;

  --blue-a1: #004df211;
  --blue-a2: #1166fb18;
  --blue-a3: #0077ff3a;
  --blue-a4: #0075ff57;
  --blue-a5: #0081fd6b;
  --blue-a6: #0f89fd7f;
  --blue-a7: #2a91fe98;
  --blue-a8: #3094feb9;
  --blue-a9: #0090ff;
  --blue-a10: #3b9eff;
  --blue-a11: #70b8ff;
  --blue-a12: #c2e6ff;

  --amber-a1: #e63c0006;
  --amber-a2: #fd9b000d;
  --amber-a3: #fa820022;
  --amber-a4: #fc820032;
  --amber-a5: #fd8b0041;
  --amber-a6: #fd9b0051;
  --amber-a7: #ffab2567;
  --amber-a8: #ffae3587;
  --amber-a9: #ffc53d;
  --amber-a10: #ffd60a;
  --amber-a11: #ffca16;
  --amber-a12: #ffe7b3;

  --red-a1: #f4121209;
  --red-a2: #f22f3e11;
  --red-a3: #ff173f2d;
  --red-a4: #fe0a3b44;
  --red-a5: #ff204756;
  --red-a6: #ff3e5668;
  --red-a7: #ff536184;
  --red-a8: #ff5d61b0;
  --red-a9: #fe4e54e4;
  --red-a10: #ff6465eb;
  --red-a11: #ff9592;
  --red-a12: #ffd1d9;

  --green-a1: #00de4505;
  --green-a2: #29f99d0b;
  --green-a3: #22ff991e;
  --green-a4: #11ff992d;
  --green-a5: #2bffa23c;
  --green-a6: #44ffaa4b;
  --green-a7: #50fdac5e;
  --green-a8: #54ffad73;
  --green-a9: #44ffa49e;
  --green-a10: #43fea4ab;
  --green-a11: #46fea5d4;
  --green-a12: #bbffd7f0;

  --mauve-a1: #00000000;
  --mauve-a2: #f5f4f609;
  --mauve-a3: #ebeaf814;
  --mauve-a4: #eee5f81d;
  --mauve-a5: #efe6fe25;
  --mauve-a6: #f1e6fd30;
  --mauve-a7: #eee9ff40;
  --mauve-a8: #eee7ff5d;
  --mauve-a9: #eae6fd6e;
  --mauve-a10: #ece9fd7c;
  --mauve-a11: #f5f1ffb7;
  --mauve-a12: #fdfdffef;

  --violet-a1: #4422ff0f;
  --violet-a2: #853ff916;
  --violet-a3: #8354fe36;
  --violet-a4: #7d51fd50;
  --violet-a5: #845ffd5f;
  --violet-a6: #8f6cfd6d;
  --violet-a7: #9879ff83;
  --violet-a8: #977dfea8;
  --violet-a9: #8668ffcc;
  --violet-a10: #9176fed7;
  --violet-a11: #baa7ff;
  --violet-a12: #e3deff;

  --crimson-a1: #f4126709;
  --crimson-a2: #f22f7a11;
  --crimson-a3: #fe2a8b2a;
  --crimson-a4: #fd158741;
  --crimson-a5: #fd278f51;
  --crimson-a6: #fe459763;
  --crimson-a7: #fd559b7f;
  --crimson-a8: #fe5b9bab;
  --crimson-a9: #fe418de8;
  --crimson-a10: #ff5693ed;
  --crimson-a11: #ff92ad;
  --crimson-a12: #ffd5eafd;

  --slate-a1: #00000000;
  --slate-a2: #d8f4f609;
  --slate-a3: #ddeaf814;
  --slate-a4: #d3edf81d;
  --slate-a5: #d9edfe25;
  --slate-a6: #d6ebfd30;
  --slate-a7: #d9edff40;
  --slate-a8: #d9edff5d;
  --slate-a9: #dfebfd6d;
  --slate-a10: #e5edfd7b;
  --slate-a11: #f1f7feb5;
  --slate-a12: #fcfdffef;

  --white-a1: hsla(0, 0%, 100%, .05);
  --white-a2: hsla(0, 0%, 100%, .1);
  --white-a3: hsla(0, 0%, 100%, .15);
  --white-a4: hsla(0, 0%, 100%, .2);
  --white-a5: hsla(0, 0%, 100%, .3);
  --white-a6: hsla(0, 0%, 100%, .4);
  --white-a7: hsla(0, 0%, 100%, .5);
  --white-a8: hsla(0, 0%, 100%, .6);
  --white-a9: hsla(0, 0%, 100%, .7);
  --white-a10: hsla(0, 0%, 100%, .8);
  --white-a11: hsla(0, 0%, 100%, .9);
  --white-a12: hsla(0, 0%, 100%, .95);

  --black-a1: rgba(0, 0, 0, .05);
  --black-a2: rgba(0, 0, 0, .1);
  --black-a3: rgba(0, 0, 0, .15);
  --black-a4: rgba(0, 0, 0, .2);
  --black-a5: rgba(0, 0, 0, .3);
  --black-a6: rgba(0, 0, 0, .4);
  --black-a7: rgba(0, 0, 0, .5);
  --black-a8: rgba(0, 0, 0, .6);
  --black-a9: rgba(0, 0, 0, .7);
  --black-a10: rgba(0, 0, 0, .8);
  --black-a11: rgba(0, 0, 0, .9);
  --black-a12: rgba(0, 0, 0, .95);

  --background: #05050a;
}

@font-face {
  font-family: f1;
  src: url("../assets/fonts/f1.woff2");
}
@font-face {
  font-family: f2;
  src: url("../assets/fonts/f2.woff2");
}
@font-face {
  font-family: f3;
  src: url("../assets/fonts/f3.woff2");
}
@font-face {
  font-family: f4;
  src: url("../assets/fonts/f4.otf");
}
@font-face {
  font-family: f6;
  src: url("../assets/fonts/f6.ttf");
}

.hidden{
  display: none;
  opacity: 0;
  visibility: hidden;
}
.visible{
  display: inline-block;
  opacity: 1;
  visibility: visible;
}
.nowrap{
  white-space: nowrap;
}
.font-sans {
  font-family: f1, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/*color*/
.text-slate-12 {
  color: var(--slate-a12);
}
.text-slate-11{
  color: var(--slate-a11);
}
.text-green-a9{
  color: var(--green-a9)
}
.text-violet-a11{
  color: var(--violet-a11)
}
.text-blue-a10{
  color: var(--blue-a10)
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.textDecNone{
  text-decoration: none;
  color: inherit;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.body{
  max-width: 100vw;
  min-height: 100vh;
  line-height: inherit;
  height: 100%;
  text-decoration: none;
  text-decoration: none;
  overflow-x: hidden;
}

.background{
  /* background: var(--background);   */
  /* background-color: #7a7adb;
background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%); */
background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);


}
/*text size*/
.text-sm{
  font-size: 0.775rem;
  line-height: 1.15rem;
}
.text-large{
  font-size: 4rem;
  line-height: 4.25rem;
  text-align: left;
}
.text-sm0{
  font-size: 0.7rem;
}
.text-sm1{
  font-size: 1rem;
  line-height: 1.375rem;
}
.text-medium{
  font-size: 3rem;
}


.font-effect-hero{
  -webkit-text-stroke: .4px #ffffff80;
  -webkit-text-fill-color: transparent;
  text-shadow: -1px -1px 0 hsla(0,0%,100%,.2), 1px 1px 0 rgba(0,0,0,.1);
}
.font-gradient {
  background: linear-gradient(to right bottom, #fff 30%, hsla(0, 0%, 100%, .5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}
.text-medium1{
  font-size: 1.4rem;
}
.glassyText{
  color: transparent;
	-webkit-text-stroke: 0.5px var(--slate-a12);
  font-weight: bolder;
  
	/* text-shadow: 0px 1px 4px #23430C; */
}

/*font-weight*/
.font-medium{
  font-weight: 500;;
}
.font-medium1{
  font-weight: 600;
}
.font-normal{
  font-family: 400;
}

/*Padding*/
.pi1{
  padding-inline: 2rem;
}



/*flex*/
.navDesktop{
  display: flex;
  gap: 2rem;
}
.justify-between{
  justify-content: space-between;
}
.align-between{
  align-items: stretch;
}
.align-center{
  align-items: center;
}
.text-center{
  text-align: center;
  
}
.flexC{
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
}
.gap0{
  gap:0.5rem
}
.gap1{
  gap: 1rem
}
.gap2{
  gap: 2rem
}
.gap3{
  gap: 3rem
}
.gap4{
  gap: 4rem
}
.alignC{
  align-items: center;
}

/*slate*/
.slate{
  background-color: var(--white-a6);
  color: var(--slate-a12);
  padding: 0.15rem;
  border-radius: 4px;
  border: 0.1px solid var(--slate-a12);
  margin-inline: 0.25rem;
}

/*page-break*/
.break{
  width: 100%;
  height: 1px;
  background-color: var(--slate-a9);
  border-radius: 1rem;
}

/*Active*/
#active2{
  background-color: #fcfdffef;
  color: #05050a;
}

/*Margin*/
.mgB5{
  margin-block: 5rem;
}

/*ButtonBox2*/
.buttonBox2{
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.buttonBox2>*{
  border: 1px solid #d6ebfd30;
  padding: 0.6rem 1rem;
  border-radius: 0.35rem;
  color:#f1f7feb5;
  font-weight: 600;
  background-color: #ddeaf814;
  cursor: pointer;
}

/*Video*/
.Video{
  max-width: 170px;
}
.Video>video{
  width: 100%;
}

/*Image*/
.imgBox{
  overflow: hidden;
  /* border: 1px solid var(--violet-a10); */
  width: 25px;
  height: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.imgBox>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/*noWrap*/
.noWrap{
  white-space: nowrap;
}


/*resize*/
@media (min-width: 1100px) {
  .text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .text-large{
    font-size: 4.5rem;
    line-height: 5rem;
    text-align: left;
  }
  .text-sm0{
    font-size: 1rem;
  }
  .text-sm1{
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .text-medium{
    font-size: 3.5rem;
  }
  .pi1{
    padding-inline: 7rem;
  }
}
@media (max-width:768px) {
  .pi1{
    padding-inline: 1rem;
  }
}

@media (max-width: 450px) {
  .text-sm{
    font-size: 0.6rem;
    line-height: 0.975rem;
  }
  .text-large{
    font-size: 2.75rem;
    line-height: 3rem;
    text-align: left;
  }
  .text-sm0{
    font-size: 0.7rem;
  }
  .text-sm1{
    font-size: 0.8rem;
    line-height: 1.175rem;
  }
  .text-medium{
    font-size: 2.5rem;
  }
  .text-medium1{
    font-size: 1rem;
  }
  .imgBox{
    max-width: 35px;
  }
  .buttonBox2{
    gap: 1.5rem;
  }
  input{
    width:10px;
  }
}

@media (max-width: 350px){
  .text-large{
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

/*enter world*/
.enterWorld{
  background-color: var(--slate-a12);
  color: var(--background);
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  justify-content: center;
  width: fit-content;
}

/*o*/
div.o{
  border: 8px solid var(--slate-a12);
  width: 170px;
  height: 40px;
  display: inline-flex;
  border-radius: 1rem;
  
}
.o>video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/*Section1*/
.section1{
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*fonts*/
.f6{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Section2*/
.section2{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:end;
}
.description{
  max-width: 70ch;
}
.section1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}